html,
body,
header,
.view {
  height: 100%;
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.white-text { 
    color: white;
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.wintergreen {
  background-color: #6b9080;
}

.cambridgeblue {
  background-color: #cce3de;
}

.d-flex {
  align-items: center
}

.nav-link {
  color: black;
  font-size: 20px;
}

.card {
  margin: 1vw;
}

.navbar {
  padding: 0;
}